%table{border: 1}
  %tbody
    %tr
      %th{style: "text-align:center"} Player
      %th{style: "text-align:center"} P
      %th{style: "text-align:center"} W
      %th{style: "text-align:center"} D
      %th{style: "text-align:center"} L
      %th{style: "text-align:center"} F
      %th{style: "text-align:center"} A
      %th{style: "text-align:center"} D
      %th{style: "text-align:center"} Pts
    - @ranking.each do |ranking|
      %tr
        %td= ranking.user.name
        %td= ranking.played
        %td= ranking.won
        %td= ranking.drawn
        %td= ranking.lost
        %td= ranking.goals_for
        %td= ranking.goals_against
        %td= ranking.goal_diff
        %td= ranking.points
